* {
	margin: 0px;
}

/*Heart*/


/*DaFont

@font-face{
	font-family: "Gloss_And_Bloom";
	src: url('../font/Gloss_And_Bloom.ttf');
}
@font-face {
 font-family: "Gloss_And_Bloom";
 src: url("Gloss_And_Bloom.eot") 
}
@font-face {
 font-family: "Gloss_And_Bloom";
 src: url("Gloss_And_Bloom.ttf") 
}
*/

.main-header > h3 {
	font-size: 48px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	z-index: 1;
	margin: 150px 0px 0px 30px;
/* 	width: 88%;
	padding-left: 14%; */
	line-height: 60px;
	opacity: .9;
}

.main-header > h4 {
	font-size: 34px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	z-index: 1;
	margin-top: 20px;
	/* width: 80%;
	padding-left: 14%; */
	line-height: 60px;
}

#az {
	color: #FE80DD;
	font-size: 80px;
	font-family: 'Gochi Hand', cursive;
	letter-spacing: -1px;
}

.main-header > h5{
	font-size: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	z-index: 1;
	margin-top: 80px;
	width: 88%;
	padding-left: 25%;
	padding-right: 15%;
	line-height: 36px;
	opacity: .9;
	font-weight:lighter;
}

#create {
	font-weight: 900;
}

.heart-globe {
	text-align: center;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #D5F8FB;
	height: 100%;
  	width: 100%;
  	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
}

/* TOP SECTION */

#main {
	background-color: #000;
	opacity: 0.7;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Futura", "Helvetica", sans-serif;
	letter-spacing: 1px;
	text-transform: lowercase;
}

.logo {
	float: left;
	font-family: "Futura", "Helvetica", sans-serif;
}

.navbar-header > .navbar-brand {
	font-size: 32px;
	color: #fff;
	padding: 15px;
}

ul .navbar-list {
	display: inline-block;
	padding: 5px 10px;
	font-size: 22px;
	text-align: center;
	color: #222;
}

.nav>li>a {
	color: #fff !important;
	padding: 10px;
}

.nav>li>a:hover {
	background-color: #333;
}

.top-message {

}

.top-image {

}

/* TITLES */

.services-title,
.hire-us-title,
.projects-title,
.testimonial-title,
.team-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    /* margin: 60px 350px 30px 350px; */
    margin: 50px 0px 30px 0px;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #222;
    background-color: #222;
    letter-spacing: 3px;
    border-radius: 5px 15px;
    font-family: "Futura", "Helvetica", sans-serif;
}

/* SERVICES SECTION */

#services {
	
}

.services-title {

}


.services-image {
	display: inline;
	text-align: center;
}

.services-image > h2 {
	font-family: "Futura", "Helvetica", sans-serif;
}

.services-image > p {
	font-family: "Caslon", "Baskerville", serif;
	font-size: 17px;
}

.service__image {
	display: block;
	margin: 0 auto;
}

.exploration {
	padding-bottom: 20px;
}

.graphic-design {
	padding: 30px 0px;
}

.web-dev {
	padding: 30px 0px;
}

/*  PROJECTS SECTION */

#projects {

}

.project-image {
	margin: 30px 0px;
}


/* TESTIMONIALS SECTION */

#testimonials {

}

.testimonials-message > h3 {
	font-family: "Futura", "Helvetica", sans-serif;
	text-align: center;
}

.testimonials-message > p {
	border: 2px dashed #555;
	border-radius: 5px;
	padding: 5px;
	font-family: "Caslon", "Baskerville", serif;
	font-size: 18px;
	text-align: center;
}


/* TEAM SECTION */

#team {
	
}

.team-image {
	display: inline;
	text-align: center;
}

.team__image {
	display: block;
	margin: 0 auto;
	padding: 0px 10px;
}

.team-image > h2 {
	font-family: "Futura", "Helvetica", sans-serif;
}

.team-image > h4 {
	font-family: "Heveltica", sans-serif;
}

/* HIRE-US SECTION */

#hire-us {
	font-family: "Futura", "Helvetica", sans-serif;
}

.form-group {
	font-family: "Futura", "Helvetica", sans-serif;
}

button {
	font-family: "Futura", "Helvetica", sans-serif;
	padding: 8px 26px;
	width: 20%;
  	margin-left: 40%;
}


/* button 
section.flat button {
  color: #fff;
  background-color: #176DB9;
  text-shadow: -1px 1px #417cb8;
  border: none;
  width: 20%;
  margin-left: 40%;
}

section.flat button:hover,
section.flat button.hover {
  background-color: #0E4676;
  text-shadow: -1px 1px #27496d;
}

section.flat button:active,
section.flat button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

button {
  display: inline-block;
  padding: 8px 26px;
  font-size: 24px;
  font-family: "Futura", "Helvetica", sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: 5%;
}

button:focus {
  outline: none
} */

/* FOOTER SECTION */

#footer {
	background-color: #222;
	color: #fff;
	font-size: 15px;
	margin-top: 30px;
	padding: 10px 0px;
}

.footer-text {
	text-align: center;
	font-family: "Helvetica", sansserif;
	letter-spacing: 0.5px;
}

.footer-text > p > a {
	color: #fff;
}

/*Media Query*/

@media screen and (max-width: 1300px) {
	.main-header > h3{
		font-size: 55px;
		margin-top: 200px;
		width: 88%;
		padding-left: 14%;
		line-height: 60px;
	}
}

@media screen and (max-width: 1300px) {
	#az {	
	font-size: 70px;
	}
}

@media screen and (max-width: 1200px) {
	.main-header > h3{
		font-size: 45px;
		margin-top: 200px;
		width: 88%;
		padding-left: 14%;
		line-height: 60px;
	}
}

@media screen and (max-width: 1200px) {
	#az {	
	font-size: 60px;
	}
}

@media screen and (max-width: 1200px) {
	.main-header > h5{
		font-size: 18px;
		margin-top: 40px;
		width: 88%;
		padding-left: 25%;
		padding-right: 15%;
		line-height: 26px;
	}
}

@media screen and (max-width: 1000px) {
	.main-header > h3{
		font-size: 40px;
		margin-top: 200px;
		width: 88%;
		padding-left: 14%;
		line-height: 50px;
	}
}

@media screen and (max-width: 1000px) {
	#az {	
	font-size: 50px;
	}
}

@media screen and (max-width: 1000px) {
	.main-header > h5{
		font-size: 18px;
		margin-top: 40px;
		width: 88%;
		padding-left: 25%;
		padding-right: 15%;
		line-height: 26px;
	}
}

@media screen and (max-width: 800px) {
	.main-header > h3{
		font-size: 36px;
		margin-top: 200px;
		width: 88%;
		padding-left: 14%;
		line-height: 40px;
	}
}	

@media screen and (max-width: 800px) {
	#az {	
	font-size: 45px;
	}
}

@media screen and (max-width: 800px) {
	.main-header > h5{
		font-size: 16px;
		margin-top: 30px;
		width: 88%;
		padding-left: 25%;
		padding-right: 15%;
		line-height: 22px;
	}
}

@media screen and (max-width: 700px) {
	.main-header > h3{
		font-size: 30px;
		margin-top: 160px;
		width: 88%;
		padding-left: 14%;
		line-height: 40px;
	}
}

@media screen and (max-width: 700px) {
	#az {	
	font-size: 35px;
	}
}

@media screen and (max-width: 700px) {
	.main-header > h5{
		font-size: 12px;
		margin-top: 30px;
		width: 88%;
		padding-left: 15%;
		padding-right: 5%;
		line-height: 22px;
	}
}

@media screen and (max-width: 600px) {
	.main-header > h3{
		font-size: 25px;
		margin-top: 140px;
		width: 88%;
		padding-left: 14%;
		line-height: 30px;
	}
}

@media screen and (max-width: 600px) {
	#az {	
	font-size: 30px;
	}
}

	@media screen and (max-width: 500px) {
	.main-header > h3{
		font-size: 20px;
		margin-top: 120px;
		width: 88%;
		padding-left: 14%;
		line-height: 30px;
	}
}

@media screen and (max-width: 500px) {
	#az {	
	font-size: 25px;
	}
}

/*NAV BAR Media Query*/

@media screen and (max-width: 700px) {
	.navbar-toggle { 
		background-color: #fff; 
	}
} 
	
@media screen and (max-width: 700px) {		
	.navbar-toggle 
	.icon-bar+.icon-bar, 
	.navbar-toggle .icon-bar { 
		background-color: #000; 
	}
}

























