* {
	margin: 0px;
}

body {

}

/* TOP SECTION */

#main {

}

.logo {
	
}

.navbar {
	
}

ul .navbar-list {
	display: inline-block;
	padding: 5px 10px;
	font-size: 18px;
	text-align: center;
	float: right;
}

.top-message {

}

.top-image {

}



/* SERVICES SECTION */

#section {

}

.services-title {

}

.services-image {

}



/*  PROJECTS SECTION */

#projects {

}

.projects-title {

}





/* TESTIMONIALS SECTION */

#testimonials {

}

.testimonials-message {

}





/* HIRE-US SECTION */

#hire-us {

}

.hire-us-title {

}







