* {
	margin: 0px;
}


/*DaFont*/
@font-face{
	font-family: "Gloss_And_Bloom";
	src: url('../font/Gloss_And_Bloom.ttf');
}
@font-face {
 font-family: "Gloss_And_Bloom";
 src: url("Gloss_And_Bloom.eot") /* EOT file for IE */
}
@font-face {
 font-family: "Gloss_And_Bloom";
 src: url("Gloss_And_Bloom.ttf") /* TTF file for CSS3 browsers */
}

.main-header > h1{
	font-size: 90px;
	text-align: center;
	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
	position: absolute;
	z-index: 1;
	color: white;
	margin-top: 200px;
	width: 88%;
	padding-left: 14%;
	line-height: 150px;
	letter-spacing: 5px;
	color: #42B3C0;
	opacity: .9;
}


body {
	background-color: #D5F8FB;
	height: 100%;
  	width: 100%;
  	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
}

/* TOP SECTION */

#main {
	background-color: #000;
	opacity: 0.7;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Futura", "Helvetica", sans-serif;
	letter-spacing: 1px;
	text-transform: lowercase;
}

.logo {
	float: left;
	font-family: "Futura", "Helvetica", sans-serif;
}

.navbar-header > .navbar-brand {
	font-size: 32px;
	color: #fff;
	padding: 15px;
}

ul .navbar-list {
	display: inline-block;
	padding: 5px 10px;
	font-size: 22px;
	text-align: center;
	color: #222;
}

.nav>li>a {
	color: #fff !important;
	padding: 10px;
}

.nav>li>a:hover {
	background-color: #333;
}

.top-message {

}

.top-image {
	opacity: 0.9;
}

/* TITLES */

.services-title,
.hire-us-title,
.projects-title,
.testimonial-title,
.team-title {
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin: 60px 350px 30px 350px;
	color: #fff;
	padding: 10px 0px;
	border: 2px solid #222;
	background-color: #222;
	letter-spacing: 3px;
	border-radius: 5px 15px;
	font-family: "Futura", "Helvetica", sans-serif;
}

/* SERVICES SECTION */

.services-title {
	margin-top: 40px;
}


.services-image {
	display: inline;
	text-align: center;
}

.services-image > h2 {
	font-family: "Futura", "Helvetica", sans-serif;
}

.services-image > p {
	font-family: "Caslon", "Baskerville", serif;
	font-size: 17px;
}

.service__image {
	display: block;
	margin: 0 auto;
}

.exploration {
	padding-bottom: 20px;
}

.graphic-design {
	padding: 30px 0px;
}

.web-dev {
	padding: 30px 0px;
}

/*  PROJECTS SECTION */

.project-image {
	margin: 30px 0px;
}

/* TESTIMONIALS SECTION */

.testimonials-message > h3 {
	font-family: "Futura", "Helvetica", sans-serif;
	text-align: center;
}

.testimonials-message > p {
	border: 2px dashed #555;
	border-radius: 5px;
	padding: 5px;
	font-family: "Caslon", "Baskerville", serif;
	font-size: 18px;
	text-align: center;
}


/* TEAM SECTION */

.team-image {
	display: inline;
	text-align: center;
}

.team__image {
	display: block;
	margin: 0 auto;
	padding: 0px 10px;
}

.team-image > h2 {
	font-family: "Futura", "Helvetica", sans-serif;
}

.team-image > h4 {
	font-family: "Heveltica", sans-serif;
}

/* HIRE-US SECTION */

#hire-us,
.form-group  {
	font-family: "Futura", "Helvetica", sans-serif;
}

.hire-us-button {
	font-family: "Futura", "Helvetica", sans-serif;
	font-size: 24px;
}

/* FOOTER SECTION */

#footer {
	background-color: #222;
	color: #fff;
	font-size: 15px;
	margin-top: 30px;
	padding: 10px 0px;
}

.footer-text {
	text-align: center;
	font-family: "Helvetica", sansserif;
	letter-spacing: 0.5px;
}

.footer-text > p > a {
	color: #fff;
}

/*Media Query*/

@media screen and (max-width: 1300px) {
    .main-header > h1{
	font-size: 50px;
	text-align: center;
	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
	position: absolute;
	z-index: 1;
	color: white;
	margin-top: 250px;
	width: 80%;
	padding-left: 15%;
	line-height: 100px;
	}

}

@media screen and (max-width: 900px) {
    .main-header > h1{
	font-size: 40px;
	text-align: center;
	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
	position: absolute;
	z-index: 1;
	color: white;
	margin-top: 200px;
	width: 80%;
	padding-left: 15%;
	line-height: 100px;
	}
	.navbar-toggle {
		/* background-color: #fff; */
		border: #fff;
	}
}

@media screen and (max-width: 700px) {
    .main-header > h1{
	font-size: 36px;
	text-align: center;
	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
	position: absolute;
	z-index: 1;
	color: white;
	margin-top: 120px;
	width: 90%;
	padding-left: 15%;
	line-height: 100px;
	}
	.navbar-toggle {
		background-color: #fff;
	}
}

@media screen and (max-width: 600px) {
    .main-header > h1{
	font-size: 30px;
	text-align: center;
	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
	position: absolute;
	z-index: 1;
	color: white;
	margin-top: 110px;
	width: 90%;
	padding-left: 15%;
	line-height: 80px;
	}
	.navbar-toggle {
		background-color: #fff;
	}
}

@media screen and (max-width: 500px) {
    .main-header > h1{
	font-size: 26px;
	text-align: center;
	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
	position: absolute;
	z-index: 1;
	color: white;
	margin-top: 100px;
	width: 90%;
	padding-left: 15%;
	line-height: 70px;
	}
	.navbar-toggle {
		background-color: #fff;
	}
}

@media screen and (max-width: 400px) {
    .main-header > h1{
	font-size: 22px;
	text-align: center;
	font-family: "Gloss_And_Bloom","Futura", "Helvetica", sans-serif;
	position: absolute;
	z-index: 1;
	color: white;
	margin-top: 80px;
	width: 90%;
	padding-left: 15%;
	line-height: 50px;
	}

	.navbar-toggle {
		background-color: #fff;
	}
}